.App {
  border: 6px;
  border-color: lightgray;
  border-style: solid;
}

.App-header {
  display: flex;
  flex-direction: column;
  /* font-size: calc(10px + 2vmin); */
  color: black;
  padding-top: 25px;
  padding-left: 25px;
}

.App-sections {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.App-bottom-section {
  padding: 25px;
}

.App-subtitles {
  margin: 0;
  border-bottom: 2px solid lightgray;
}

.Summary-col {
  text-align: center;
  float: left;
  width: 33%;
}

.Summary-row:after {
  content: "";
  display: table;
  clear: both;
}

.Graph-plot {
  height: 100%;
  width: 100%;
}

.Table {
  height: 100%;
  width: 100%;
}
